In [2]:
import pandas as pd

In [3]:
#Importing data

circuits = pd.read_csv('F1-data/circuits.csv')
constructor_results = pd.read_csv('F1-data/constructor_results.csv')
constructor_standings = pd.read_csv('F1-data/constructor_standings.csv')
constructor = pd.read_csv('F1-data/constructors.csv')
driver_standings = pd.read_csv('F1-data/driver_standings.csv')
drivers = pd.read_csv('F1-data/drivers.csv')
lap_times = pd.read_csv('F1-data/lap_times.csv')
pit_stops = pd.read_csv('F1-data/pit_stops.csv')
qualifying = pd.read_csv('F1-data/qualifying.csv')
races = pd.read_csv('F1-data/races.csv')
results = pd.read_csv('F1-data/results.csv')
status = pd.read_csv('F1-data/status.csv')

In [7]:
#Transforming 

#changing data type to datetime
races['date'] = pd.to_datetime(races['date'])
races_dim = races[['raceId','circuitId','name','year','round','date']]

In [8]:
#Transforming "circuits" 

circuits_dim = circuits[['circuitId','circuitRef','name','location','country','lat','lng','alt']]

In [9]:
#Transforming "constructor_results"

constructor_results_dim = constructor_results[['constructorResultsId','raceId','constructorId','points']]

In [13]:
#Transforming "constructor_standings"

constructor_standings_dim = constructor_standings[['constructorStandingsId','raceId','constructorId','points','position','wins']]
constructor_standings_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12941 entries, 0 to 12940
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   constructorStandingsId  12941 non-null  int64
 1   raceId                  12941 non-null  int64
 2   constructorId           12941 non-null  int64
 3   points                  12941 non-null  float64
 4   position                12941 non-null  int64
 5   wins                    12941 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 606.7 KB

In [16]:
#Transforming "constructor"

constructors_dim = constructor[['constructorId','constructorRef','name','nationality']]
constructors_dim.head(10)

   constructorId constructorRef         name nationality
0              1        mclaren      McLaren     British
1              2     bmw_sauber   BMW Sauber      German
2              3       williams     Williams     British
3              4        renault      Renault      French
4              5     toro_rosso   Toro Rosso     Italian
5              6        ferrari      Ferrari     Italian
6              7         toyota       Toyota    Japanese
7              8    super_aguri  Super Aguri    Japanese
8              9       red_bull     Red Bull    Austrian
9             10    force_india  Force India      Indian

In [18]:
#Transforming "driver_standings"

driver_standings_dim = driver_standings[['driverStandingsId','raceId','driverId','points','position','wins']]
driver_standings_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33902 entries, 0 to 33901
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   driverStandingsId  33902 non-null  int64
 1   raceId             33902 non-null  int64
 2   driverId           33902 non-null  int64
 3   points             33902 non-null  float64
 4   position           33902 non-null  int64
 5   wins               33902 non-null  int64
dtypes: float64(1), int64(5)
memory usage: 1.6 MB

In [19]:
#Transforming "drivers"

drivers_dim = drivers [['driverId','driverRef','number','code','forename','surname','dob','nationality']]
drivers_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 857 entries, 0 to 856
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     857 non-null    int64
 1   driverRef    857 non-null    object
 2   number       857 non-null    object
 3   code         857 non-null    object
 4   forename     857 non-null    object
 5   surname      857 non-null    object
 6   dob          857 non-null    object
 7   nationality  857 non-null    object
dtypes: int64(1), object(7)
memory usage: 53.7+ KB

In [20]:
#Transforming "lap_times" 

lap_times_dim = lap_times[['raceId','driverId','lap','position','time']]
lap_times_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 538121 entries, 0 to 538120
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   raceId    538121 non-null  int64
 1   driverId  538121 non-null  int64
 2   lap       538121 non-null  int64
 3   position  538121 non-null  int64
 4   time      538121 non-null  object
dtypes: int64(4), object(1)
memory usage: 20.5+ MB

In [21]:
#Transforming "pit_stops"

pitstops_dim = pit_stops[['raceId','driverId','stop','lap','time','duration']]
pitstops_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9634 entries, 0 to 9633
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   raceId    9634 non-null   int64
 1   driverId  9634 non-null   int64
 2   stop      9634 non-null   int64
 3   lap       9634 non-null   int64
 4   time      9634 non-null   object
 5   duration  9634 non-null   object
dtypes: int64(4), object(2)
memory usage: 451.7+ KB

In [22]:
#Transforming "qualifying"

qualifying_dim = qualifying[['qualifyId','raceId','driverId','constructorId','number','position','q1','q2','q3']]
qualifying_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9575 entries, 0 to 9574
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      9575 non-null   int64
 1   raceId         9575 non-null   int64
 2   driverId       9575 non-null   int64
 3   constructorId  9575 non-null   int64
 4   number         9575 non-null   int64
 5   position       9575 non-null   int64
 6   q1             9567 non-null   object
 7   q2             9424 non-null   object
 8   q3             9276 non-null   object
dtypes: int64(6), object(3)
memory usage: 673.4+ KB

In [23]:
#Transforming "races"

races_dim = races[['raceId','circuitId','year','round','name','date']]
races_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1102 entries, 0 to 1101
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     1102 non-null   int64
 1   circuitId  1102 non-null   int64
 2   year       1102 non-null   int64
 3   round      1102 non-null   int64
 4   name       1102 non-null   object
 5   date       1102 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 51.8+ KB

In [20]:
#Transforming "results"

results_dim = results[['resultId','raceId','driverId','constructorId','statusId','grid','positionOrder','points','laps','fastestLap','rank','fastestLapTime','fastestLapSpeed']]

In [25]:
#Transforming "status"

status_dim = status[['statusId','status']]
status_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   statusId  139 non-null    int64
 1   status    139 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.3+ KB

In [29]:
#Exporting csv files

status_dim.to_csv('status_dim.csv',index=False)
results_dim.to_csv('resutls_dim.csv',index=False)
races_dim.to_csv('races_dim.csv',index=False)
qualifying_dim.to_csv('qualifying_dim.csv',index=False)
pitstops_dim.to_csv('pitstops_dim.csv',index=False)
lap_times_dim.to_csv('lap_times_dim.csv',index=False)
drivers_dim.to_csv('drivers_dim.csv',index=False)
driver_standings_dim.to_csv('driver_standings_dim.csv',index=False)
constructors_dim.to_csv('constructors_dim.csv',index=False)
constructor_standings_dim.to_csv('constructor_standings_dim.csv',index=False)
constructor_results_dim.to_csv('constructor_results_dim.csv',index=False)
circuits_dim.to_csv('circuits_dim.csv',index=False)